/* __________Header__________ */
* {
margin: 0;
padding: 0;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}

.container {
    width: 900px;
    margin: 0 auto;
}

.nav-list{
    text-align: center;

}

.nav-item {
    display: inline-block;
    margin-right: 110px;
}

.nav-item:nth-child(4){
    margin-right: 0;
}

.nav-link{
    width: 200px;
    color: #777777;
    font-size: 14px;
    line-height: 24px;
    font-family: "Playfair Display";
    font-weight: 400;
}

.nav-link:hover {
    color: #03a9f3;
}

.main-list {
    margin-bottom: 46px;
}

.main-list__item{
    display: inline-block;
    width: 420px;
    height: 500px;
    margin-right: 55px;
}

.main-list__item:nth-child(even) {
    margin-right: 0;

}
.main-btn {
    transition: 1s;
}
 
    .main-btn:hover{
        border-radius: 70%;
        border: solid #626262 1px;
        font-size: 20px;
        line-height: 24px;
        font-weight: 400;
        margin-bottom: 50px;
    }

    .index-btn:hover{
        background:#53ea93;

    }

    .class-btn:hover{
        margin: 0 auto;
        width: 100px;
        height: auto;
        box-shadow: inset 0 0 0 23px #53ea93;
       
    }

 * {
     outline: solid 1px;
 }