/* __________Header__________ */
* {
margin: 0;
padding: 0;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}
/* __________Main__________ */
.container {
    width: 900px;
    margin: 0 auto;
}

.nav-list{
    text-align: center;
}

.nav-item {
    display: inline-block;
    margin-right: 110px;
    margin-top: 77px;
    margin-bottom: 103px;

    width: 113px;
    height: 42px;
    font-size: 14px;
    line-height: 24px;
    color: #626262;
    font-family: "Playfair Display";
    font-weight: 400;
    text-align: center;
}

.nav-item:nth-child(4){
    margin-right: 0;
}

.nav-link{
    width: 200px;
    color: #777777;
    font-size: 14px;
    line-height: 24px;
    font-family: 'Playfair Display';
    font-weight: 400;
}

.nav-link:hover {
    color: #03a9f3;
}

.main-list {
    margin-bottom: 46px;
}

.main-list__item{
    display: inline-block;
    width: 420px;
    height: 500px;
    margin-right: 55px;
}

.article-type{
    width: 418px;
    height: 21px;
    font-size: 14px;
    color: #b4ad9e;
    font-family: "Ubuntu";
    font-weight: 300;
    margin-top: 6px;
    margin-bottom: 6px;
}

.article-header{
    width: 420px;
    height: 95px;
    font-size: 30px;
    color: #626262;
    font-family: "Playfair Display";
    font-weight: 400;
}

.article-text{
    width: 420px;
    height: 78px;
    font-size: 14px;
    line-height: 24px;
    color: #626262;
    font-family: "Playfair Display";
    font-weight: 400;
}

.main-list__item:nth-child(even) {
    margin-right: 0;

}
 
    .main-btn {
        display: block;
        margin: 0 auto;
        width: 160px;
        height: 60px;
        background: transparent;
        border: solid #626262 1px;
        font-style: 20px;
        line-height: 24px;
        color: #626262;
        font-family: "Playfair Display";
        font-weight: 400px;
        margin-bottom: 50px;
    }   